body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Century', sans-serif;
}

header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

nav {
  margin-top: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-content {
  text-align: center;
}

.photos {
  max-width: 80%; /* Adjust to your preference */
  margin: 0 auto;
  overflow: hidden;
}

.photos img {
  width: 40%; /* Adjust to your preference */
  border-radius: 10px;
  margin: 0 10px; /* Add margin for spacing between images */
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.photos img.active {
  display: inline-block;
  opacity: 1;
}

.personal-details {
  text-align: center;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .photos img {
    width: 100%;
  }
}
