body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Century', sans-serif;
  background: linear-gradient(45deg, #FCE38A, #F38181); /* Gradient background color */
  background-size: 400% 400%; /* For animation effect */
  animation: gradientAnimation 15s infinite alternate; /* Animation for gradient */
  color: #fff; /* Text color */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px; /* Rounded corners */
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

nav {
  margin-top: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-content {
  text-align: center;
  padding: 20px;
}

.photos {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.photos img {
  width: 40%;
  border-radius: 10px;
  margin: 0 10px;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.photos img.active {
  display: inline-block;
  opacity: 1;
}

.personal-details {
  text-align: center;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .photos img {
    width: 100%;
  }
}
